* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  width: 60%;
  height: 5rem;
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  background-color: pink;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
  text-decoration: none;
}
